@model ChildJourney.ViewModels.AdminViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "HomeIsland";
    Context.Session.SetString("HomeIsland", "Active");
    User user = null;
    foreach(var User in Model.Users)
    {
        if (User.Id == Model.User.Id)
        {
            user = User;
        }
    }
}

<body style="background-color: @Model.CurrentIsland.PrimaryColor">
    <a asp-action="TimedRewards" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Rewards</a>
    <a asp-action="IslandPicking" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Islands</a>
    <a asp-action="Inventory" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Inventory</a>
    <a asp-action="StoreBodyPart" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Store</a>
    <button>Play Minigame</button>
    <a asp-action="Character" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">House /Edit Character</a>
    <label>@user.Coins Coins</label>
    <label> @user.SeasonPoints SeasonPoints</label>
</body>