@using ChildJourney.Controllers;
@using Newtonsoft.Json
@model ChildJourney.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Introduction";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    Context.Session.SetString("HomeIsland", "InActive");
}

<style>
    body {
        background-image: url("");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="row">
    <div class="block">
        <h1>Pick an Island!</h1>
    </div>
</div>
<div class="center-container">
    @foreach (var Island in Model.Islands)
    {
        @foreach (var item in Model.User_Island)
        {
            if (item.UserId == response.Id && item.IslandId == Island.Id) {
                <table class="table" style="border:none">
                    <tr>
                    <td>
                        <a asp-action="HomeIsland" asp-controller="Game" asp-route-id="@item.IslandId" style="background-color:@item.Island.PrimaryColor; color: black; text-decoration: none">
                            @Island.Name
                        </a>
                    </td>
                </tr>
            </table>
            }
        }
    }
</div>