@using ChildJourney.Controllers;
@using Newtonsoft.Json
@model ChildJourney.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Introduction";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    Context.Session.SetString("HomeIsland", "InActive");
}

<style>
    ::-webkit-scrollbar{
        display:none;
    }

    body {
        background-image: url("../images/cloudybackground.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body style="overflow:hidden">
    <div class="row">
        <div class="block">
            <h1 class="inner" style="padding:15px;margin-top:20px">Pick an Island!</h1>
        </div>
    </div>
    <div class="row">
        <div class="center-container" onWheel="this.scrollLeft+=event.deltaY>0?50:-50" style="justify-content:start; overflow-x:scroll; width:auto">
            @foreach (var Island in Model.Islands)
            {
                @foreach (var item in Model.User_Island)
                {
                    if (item.UserId == response.Id && item.IslandId == Island.Id) {
                        <a asp-action="HomeIsland" asp-controller="Game" asp-route-id="@item.IslandId" style="color: black; text-decoration: none">
                            <div style="padding:15px; margin:0px 30px 0px 30px" class="inner">
                                <table>
                                    <tr>
                                    <td>
                                        <label style="background-color:@item.Island.PrimaryColor;">@Island.Id: @Island.Name</label>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@Island.Image" style="width:250px; height:250px;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </a>
                    }
                }
            }
        </div>
    </div>
</body>