@using ChildJourney.Controllers;
@using Newtonsoft.Json
@model ChildJourney.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Introduction";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
}

<style>
    body {
        background-image: url("");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="row">
    <div class="block">
        <h1>Pick an Island!</h1>
    </div>
</div>
<div class="center-container">
    <div class="row">
        @foreach (var Island in Model.Islands)
        {
        <div class="block">
            <button style="background-color:@Island.SecondaryColor">
                @Island.Id 
                @Island.Name
            </button>
        Price: @Island.Price
        </div>
        }
        
    </div>
</div>