@model ChildJourney.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" value="0" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coins" class="control-label"></label>
                <input asp-for="Coins" value="0" class="form-control" />
                <span asp-validation-for="Coins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Daystreak" class="control-label"></label>
                <input asp-for="Daystreak" value="0" class="form-control" />
                <span asp-validation-for="Daystreak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyStreak" class="control-label"></label>
                <input asp-for="DailyStreak" value="0" class="form-control" />
                <span asp-validation-for="DailyStreak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminDashboard" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
