@model ChildJourney.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Daystreak" />
            <input type="hidden" asp-for="DailyStreak" />
            <input type="hidden" asp-for="Image" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Age" />
            <input type="hidden" asp-for="Coins" />
            <input type="hidden" asp-for="SeasonPoints" />
            <input type="hidden" asp-for="lastlogin" />
            <div class="form-group">
                <label asp-for="Admin" class="control-label"></label>
                <select asp-for="Admin" class="form-control">
                    {
                    <option value="True">True</option>
                    <option value="False">False</option>
                    }
                </select>
                <span asp-validation-for="Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminDashboard" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
