@model ChildJourney.ViewModels.AdminViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Play";
    Context.Session.SetString("HomeIsland", "InActive");
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    foreach (var user in Model.Users)
    {
        if (user.Id == response.Id)
        {
            response = user;
        }
    }
}

<style>
    body {
        background-image: url("/images/background.png");
        background-repeat:repeat;
        background-attachment:fixed;
        background-size:cover;
    }
</style>

<div class="row">
    <div class="block" style="border-radius: 25px; border-color:lightgray">
        @{
            List<BodyBodyParts> bodycheck = new List<BodyBodyParts>();
            List<Outfit_Clothing> Clothingcheck = new List<Outfit_Clothing>();
            foreach (var item in Model.Body_BodyParts)
            {
                if (response.BodyId == item.BodyId)
                {
                    bodycheck.Add(item);
                }
            }
            foreach (var item in Model.Outfit_Clothings)
            {
                if (response.OutfitId == item.OutfitId)
                {
                    Clothingcheck.Add(item);
                }
            }
            if (Clothingcheck.Count != 3 || bodycheck.Count != 3)
            {
                 <button><a asp-action="Character" asp-controller="Game">Play game</a></button>
            }
            else if (Clothingcheck.Count == 3 && bodycheck.Count == 3)
            {
                <button><a asp-action="IslandPicking" asp-controller="Game">Play game</a></button>
            }
        }
    </div>
</div>



