@model ChildJourney.Models.User
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Play";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
}

<style>
    body {
        background-image: url("/images/1_4.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div align="center" class="wrapper">
    <div class="inner" style="border-radius: 25px; border-color:lightgray">
        <button><a href="/Game/Introduction" style="color:black; text-decoration: none;">Play as @response.Name</a></button>
    </div>
</div>